/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

 .bibliography {
  padding: 0em;

  .abbr span {
    width: 65px;
  }

  li {
    list-style: none;

    .title {
      font-size: 16px;
    }

    .author {
      font-size: 12px;
    }

    .periodical {
      font-size: 12px;
      line-height: 1.2em;
      margin-bottom: 5px;
    }

    .abstract {
      font-size: 12px;
    }

    .badge {
      font-size: 10px;
    }
  }
}


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.

